
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify</title>

    <!-- Include libraries -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

    <!-- Read scripts -->
    <script src="js/spotify.js"></script>
    <link href="css/main.css" type="text/css" rel="stylesheet" />

</head>

<body>
    <!-- Initiate app -->
    <div ng-app="myApp" ng-controller="myCtrl">
        <!-- Form -->
        <form class="container" name="songForm">
        
            <div class="form-group">
                <label class="label">Album name</label>
                <input name="search" placeholder="Enter your album name..." ng-model="album" class="form-control"></input>
            </div>
            <div class="form-group">
                <button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getAlbum(search)" type="submit">Submit</button>
            </div>
        </form>

        <!-- Results -->
        <div class="container-fixed">
            <div class="help-block">
                <span ng-show="albums.length>0">Click to see their albums</span>
            </div>
            <ul>
                <li ng-repeat="album in albums" class="" ng-click="getAlbum(album)" title="{{album.name}}" model="album" name='display'>{{album.name}}</li>
            </ul>
        </div>
    </div>
</body>

</html>